
.container
{
  padding-left:0px;
  padding-right:0px;
  border: black 2px solid;
  border-radius: 20px;
  width: 300px;
  display: inline-block;
  background-color: lightgreen;
  font-size:60%;
  font-weight: 500;
  float: left;
  height: 300px;
}
.maincontain
{
  border: black 2px solid;
  border-radius: 20px;
  border-color: brown;
  float:left;
  background-color: lightgray;
  margin-left:  5%;
  min-width:90%;
  max-width: 90%;
}
.title
{
  font-size: 100%;
}
.alert-info
{
  padding-left: 20px;
  border-bottom: 2px solid;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
  display: block flex;
}

.sidebar
{

}
.jumbotron
{
  height: 300px;
}
.stink
{
  padding-left: 10px;
}

.b
{
margin-left: 10px;
padding-right: 10px;
display:block
}
