
.container
{
  padding-left:0px;
  padding-right:0px;
  border: black 2px solid;
  border-radius: 20px;
  width: 400px;
  display: block;
  background-color: lightgreen;
  font-size:50%;
  font-weight: 500;
  float: left;
  height:300px;
}
.maincontain
{
  border: black 2px solid;
  border-radius: 20px;
  border-color: brown;
  float:left;
  background-color: lightgray;
  margin-left:  5%;
  min-width:90%;
  max-width: 90%;
}
.title
{
  font-size: 100%;
  float:left;
  align-content:auto;
  padding-right:100px;
  float:left;
  display:flex;
}
.alert-info
{
  padding-left: 20px;
  border-bottom: 2px solid;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
  display: block flex;
}

.jumbotron
{
  font-size: 200%;
  background-color: lightblue;
  border-radius:20px;
  border:outset 10px darkgray;
  min-height:300px;


}
.stink
{
  padding-left: 10px;
}

.b
{
  margin-left: 10px;
  padding-right: 10px;
  display:block
}

.hork
{
  width:250px;
  height:250px;
  display: block;
  margin-left: 15%;
}
.har
{

}
